.experiencia {
  max-width: 1200px;
  padding: 40px 20px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 100px;
}

.experiencia a {
  color: black;
}

.experiencia .subtitulo {
  color: #e0e0e0;
  position: relative;
}

.experiencia-texto {
  font-size: 1.5rem;
  line-height: 1.33;
  max-width: 40ch;
  margin-bottom: 60px;
  color: #525252;
}

.experiencia-texto strong {
  color: #141414;
}

.empresa {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 20px;
  background: #f5f5f4;
  border-radius: 4px;
  margin-bottom: 20px;
  position: relative;
  gap: 10px 20px;
}

.empresa::before {
  content: "";
  display: block;
  width: 9px;
  height: 9px;
  border-radius: 50%;
  background: linear-gradient(#93278f, #602483);
  position: absolute;
  top: 26px;
  left: 7px;
}

.empresa-ano {
  position: absolute;
  top: 22px;
  left: -95px;
  color: #525252;
  font-size: 0.875rem;
  width: 80px;
  text-align: right;
}

.empresa-titulo {
  font-size: 1.125rem;
  line-height: 1.1;
  font-weight: bold;
}

.empresa-texto {
  font-size: 0.875rem;
  line-height: 1.4;
  color: #525252;
}

.empresa-habilidades {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  align-content: start;
}

.empresa-habilidades li {
  font-size: 0.875rem;
  line-height: 1.4;
  background: white;
  border-radius: 4px;
  padding: 5px 10px;
}

@media (max-width: 800px) {
  .experiencia {
    grid-template-columns: 1fr;
    gap: 40px;
  }
  .experiencia .subtitulo {
    color: #141414;
  }
  .experiencia-texto {
    font-size: 1.25rem;
  }
  .empresa-ano {
    position: initial;
    order: 1;
    text-align: left;
    width: initial;
    margin-top: 5px;
  }
}

@media (max-width: 450px) {
  .empresa {
    grid-template-columns: 1fr;
  }
}
