.footer {
  background: black;
}

.footer-container {
  max-width: 1200px;
  padding: 120px 20px 60px 20px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 100px;
  align-items: center;
}

.footer-contato {
  position: relative;
}

.contato-email::before {
  display: block;
  content: "";
  width: 30px;
  height: 30px;
  position: absolute;
  background: url("../img/gmail.svg") center no-repeat;
  -webkit-mask-image: url("../img/gmail.svg");
  background-image: linear-gradient(#93278f, #602483);
  mask-image: url("../img/gmail.svg");
  left: -40px;
  top: 0px;
}

.contato-linkedin::before {
  display: block;
  content: "";
  width: 30px;
  height: 30px;
  position: absolute;
  background: url("../img/linkedin.svg") center no-repeat;
  background-repeat: no-repeat;
  -webkit-mask-image: url("../img/linkedin.svg");
  background-image: linear-gradient(#93278f, #602483);
  mask-image: url("../img/linkedin.svg");
  left: -40px;
  top: 120px;
}

.contato-git::before {
  display: block;
  content: "";
  width: 30px;
  height: 30px;
  position: absolute;
  background: url("../img/github.svg") center no-repeat;
  background-repeat: no-repeat;
  -webkit-mask-image: url("../img/github.svg");
  background-image: linear-gradient(#93278f, #602483);
  mask-image: url("../img/github.svg");
  left: -40px;
  top: 180px;
}

.contato-telefone::before {
  display: block;
  content: "";
  width: 30px;
  height: 30px;
  position: absolute;
  background: url("../img/whatsapp.svg") center no-repeat;
  -webkit-mask-image: url("../img/whatsapp.svg");
  background-image: linear-gradient(#93278f, #602483);
  mask-image: url("../img/whatsapp.svg");
  left: -40px;
  top: 60px;
}

.footer-texto {
  line-height: 1.3;
  font-size: 1.5rem;
  color: gainsboro;
}

.footer-contato li {
  font-weight: bold;
  font-size: 1.75rem;
  line-height: 1.1;
  color: white;
  margin-bottom: 30px;
}

.footer-contato a {
  color: white;
  font-size: 1.5rem;
}

.footer-copy {
  grid-column: 1 / -1;
  color: gray;
  font-size: 1.5rem;
}

@media (max-width: 800px) {
  .footer-container {
    grid-template-columns: 1fr;
    gap: 40px;
  }
  .footer-contato li {
    font-size: 1.25rem;
  }
  .contato-email::before {
    display: inline-block;
    position: initial;
    margin: 0px 15px 0px 0px;
  }
  .contato-linkedin::before {
    display: inline-block;
    position: initial;
    margin: 0px 15px 0px 0px;
  }
  .contato-git::before {
    display: inline-block;
    position: initial;
    margin: 0px 15px 0px 0px;
  }
  .contato-telefone::before {
    display: inline-block;
    position: initial;
    margin: 0px 15px 0px 0px;
  }
}
