body {
  margin: 0px;
  font-family: "Fira Sans", Arial, sans-serif;
  color: #141414;
}

address {
  font-style: normal;
}

h1,
h2,
h3,
p {
  margin: 0;
}

ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

.subtitulo {
  font-size: 8rem;
  line-height: 1;
  text-transform: uppercase;
  word-break: break-all;
  max-width: 4ch;
}

@media (max-width: 800px) {
  .subtitulo {
    font-size: 3.5rem;
    text-transform: capitalize;
    max-width: initial !important;
  }
}
