.header {
  max-width: 1200px;
  padding: 40px 20px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.texto-header {
  font-weight: bold;
  font-size: 2.5rem;
  cursor: default;
}

.texto-header:hover {
  transform: scale(110%);
  transition: 0.2s;
}

.header-menu {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  justify-content: center;
}

.header-menu a {
  font-size: 1.125rem;
  line-height: 1.3;
  padding: 10px 20px;
  text-decoration: none;
  color: #141414;
  display: block;
}

.header-menu a:hover {
  background-color: #eaeaea;
  border-radius: 4px;
  transition: background-color 0.3s;
}

@media (max-width: 800px) {
  .header {
    flex-direction: column;
    gap: 20px;
    padding: 20px;
  }
  .header a {
    background-color: #f5f5f5;
    border-radius: 4px;
  }
}

@media (hover: none), (pointer: coarse) {
  .header-menu a:hover {
    background-color: transparent !important;
    color: inherit !important;
  }
}
