.intro {
  max-width: 1200px;
  padding: 40px 20px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 100px;
  align-items: center;
}

.intro h1 {
  font-size: 4.5rem;
  line-height: 1.125;
  margin-bottom: 30px;
  position: relative;
}

.intro h1::before {
  content: "";
  display: block;
  width: 130px;
  height: 100px;
  background: url("../img/detalhe.svg") no-repeat center;
  background-size: cover;
  position: absolute;
  top: -15px;
  left: -40px;
  z-index: -1;
}

.intro p {
  font-size: 1.5rem;
  color: #525252;
}

.intro p + p {
  margin-top: 16px;
  font-size: 1.25rem;
}

@media (max-width: 1000px) {
  .intro h1 {
    font-size: 3rem;
  }
  .intro h1::before {
    left: -45px;
    top: -25px;
    background-size: 80%;
  }
}

.intro h1,
.intro p {
  animation: fadeInUp 0.6s ease forwards;
  opacity: 0;
}

@keyframes fadeInUp {
  from {
    transform: translateY(30px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@media (max-width: 800px) {
  .intro {
    grid-template-columns: 1fr 1fr;
    gap: 50px;
  }
  .intro h1 {
    font-size: 2rem;
  }
  .intro p {
    font-size: 1rem;
  }
  .intro h1::before {
    width: 50px;
    height: 15px;
    top: -15px;
    left: -5px;
    background-size: 100%;
  }
}

@media (max-width: 445px) {
  .intro img {
    display: none;
  }
  .intro h1::before {
    width: 50px;
    height: 10px;
    left: -5px;
    top: -10px;
    background-size: 100%;
  }
  @keyframes fadeInUp {
    from {
      transform: translateY(15px);
      opacity: 0;
    }
    to {
      transform: translateY(0);
      opacity: 1;
    }
  }
}
